<%= link_to 'back', root_path %>

<h1> <%= @restaurant.name %> </h1>
<p><%= @restaurant.category %></p>


<h3>Reviews</h3>
<% @restaurant.reviews.each do |review| %>
  <%= review.rating %>
<% end %>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :rating %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
